/******************/
/****GOOGLE FONTS***/
/******************/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Open+Sans:wght@400;600&display=swap');


/******************/
/*****RESET*******/
/******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
    font-size: 12px;
}


a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

/******************/
/*****GENERAL******/
/******************/

.container{
    align-items: center;
}

.container-grid{
    display: grid;
}

.colums-3{
    grid-template-columns: 1fr 1fr 1fr;
}

:is(.home__section__one, .home__section__two, .donut__gift__box__section__one){
    width: 100%;
    min-height: 100vh;
}

:is(.link--yellow, .link--pink, .link--light-blue, .link--light-blue-outline){
    padding: 16px 24px;
    border-radius: 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

:is(.donut__gift__box__section__one .container){
    justify-content: space-between;
}

:is(.home__section__one p, .home__section__two p, .home__section__three p, .contact__section__one p){
    margin: 20px 0 40px 0;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
}

.link--yellow {
   background-color: #EAC218;
   color: white;
}

.link--pink {
    background-color: #F45380;
    color: white;
}

.link--light-blue{
    background-color: #51A8BF;
    color: white;
}

.link--light-blue-outline{
    border: 2px solid #51A8BF;
    background-color: #FFF;
    color: #51A8BF;
}


@media (max-width: 768px) {
    .link--yellow {
        display: block;
     }
     
     .link--pink {
        display: block;
     }
     
     .link--light-blue{
        display: block;
     }
     
     .link--light-blue-outline{
        display: block;
     }
}

/******************/
/*****HEADER*******/
/******************/

.header {
    position: absolute;
}

.header .navbar{
    padding: 40px 0;
} 


.header img {
    width: 280px;
}

.header nav ul {
    gap: 20px;
}

.link{
    color: #4C2519;
    padding-bottom: 8px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.header .link:hover{
    color: #4C2519;
    border-bottom: 3px solid #4C2519;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.link.active{
    border-bottom: 3px solid #4C2519;
}

@media (max-width: 992px) {

    .header .navbar{
        padding: 0;
    } 
    .header .navbar {
        background-color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .navbar-collapse {
        padding: 10px 0;
    }
    .link.active{
        border-bottom: none;
        color: #f45380;
    } 
    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: -1px -1px 6px 4px rgba(244, 83, 129, 0.811);
        -webkit-box-shadow: -1px -1px 6px 4px rgba(244, 83, 129, 0.811);
        -moz-box-shadow: -1px -1px 6px 4px rgba(244, 83, 129, 0.811);
    }   
}

@media (max-width: 768px) {
    .header {
        position: fixed;
     }
}

/******************/
/******FOOTER******/
/******************/
.footer{
    background: url(../assets/footer-background-shape.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 48px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 1.1rem;
}

.footer img{
    width: 250px;
}

.footer nav ul li {
    margin-bottom: 12px;
}

.footer a {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer a:hover{
    color: #f17397;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    -ms-transition: all 150ms ease;
    -o-transition: all 150ms ease;
    transition: all 150ms ease;
}

.footer h3 {
    color: #FFF;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 16px;
}

.footer p {
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 400;
}

.footer .copyright{    
    margin-top: 48px;
    background: #F45380;
    text-align: center;
    padding: 8px 0;
    font-size: 1rem;
}

.footer .copyright a{    
    color: #FFF;
    font-weight: 600;
}


.border-md-pink{
    border-right: 2px solid #F45380;
}

@media (max-width: 768px) {

    .border-md-pink{
        border-right: none;        
    }

    .footer .row div:not(:first-child) {
        padding-top: 20px;
    }

    .footer .row div:not(:first-child):not(:last-child):after {
        content: "";
        display: block;
        padding-top: 20px;
        border-bottom: 2px solid #F45380;
    }
}


/******************/
/******HOME********/
/******************/

.home__section__one {
    background: url(../assets/light-blue-shape.svg) no-repeat right center; 
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
}

.home__section__one img{
    width: 80%;
}

.home__section__one h1 {
    font-size: 6.5rem;
    color: #F45380;
    line-height: 68px;
    font-family: 'DM Serif Display', serif;
}


.home__section__two h2 {
    font-size: 5.8rem;
    color: #51A8BF;
    line-height: 5.8rem;
    font-family: 'DM Serif Display', serif;
}

.home__section__two__donuts{
    position: relative;
}


.home__section__two__donuts img{
    width: 310px;
}

.home__section__two__donuts__circle {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #F1D130;
    position: absolute;
    right: 50px;
    top: -200px;
    z-index: 1;
}

.home__section__two__donuts {
    display: flex;
    flex-direction: column;
}

.home__section__two__donuts img:first-child{
    position: absolute;
    right: 200px;
    bottom: 20px;
    z-index: 2;
}

.home__section__two__donuts img:nth-child(2){
    position: absolute;
    right: 0;
    top: -150px;
    z-index: 3;
}

.home__section__two__donuts img:nth-child(3){
    position: absolute;
    right: 230px;
    top: 30px;
    z-index: 4;
}

.home__section__three {
    min-height: 70vh;
}

.home__section__three h2 {
    font-size: 5rem;
    color: #F45380;
    font-family: 'DM Serif Display', serif;
}

.home__section__three video {
    border-radius: 500px;
    width: 100%;
}

/******************/
/***OUR FLAVORS****/
/******************/

.our__flavors__section__one {
    background: url(../assets/light-blue-shape-our-flavors.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
}

.our__flavors__section__one h1 {
    font-size: 6rem;
    color: #FFF;
    font-family: 'DM Serif Display', serif;
}

.our__flavors__section__two .container nav ul .link.active{
    color: #F45380;
    border-bottom-color: #F45380;
}

.our__flavors__section__two nav ul {
    display: flex;
    gap: 20px;
}

.our__flavors__section__two__list{
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: baseline;
}

.our__flavors__section__two__list__item{
    margin-bottom: 60px;
}

.our__flavors__section__two__list__item h2{
    font-size: 2.4rem;
    color: #F45380;
    font-family: 'DM Serif Display', serif;
}

.our__flavors__section__two__list__item p{
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

.our__flavors__section__two__list__item__img {
    width: 250px;
}

/******************/
/*****ABOUT US*****/
/******************/
.about__us__section__one {
    background: url(../assets/light-blue-shape-our-flavors.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
}

.about__us__section__one h3{
    font-size: 3.8rem;
    color: #FFF;
    font-family: 'DM Serif Display', serif;
}

.about__us__section__one h2{
    font-size: 5.8rem;
    color: #FFF;
    margin-top: -20px;
    font-family: 'DM Serif Display', serif;
}

.about__us__section__one img{
    width: 90%;
}

.about__us__section__two{
    margin-top: 40px;
    margin-bottom: 40px;
}

.about__us__section__two h1 {
    font-size: 5.8rem;
    color: #F45380;
    font-family: 'DM Serif Display', serif;
}

.about__us__section__two p {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.about__us__section__two img {
    width: 80%;
}
/******************/
/**DONUT BOX GIFT**/
/******************/

.donut__gift__box__section__one {
    background: url(../assets/yellow-shape.svg) no-repeat right bottom; 
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    display: flex;
    align-items: center; 
}


.donut__gift__box__section__one img{
    width: 40%; 
}


.donut__gift__box__section__one .link--light-blue{
    margin-top: 40px;
    display:inline-block;
}

.donut__gift__box__section__one h1 {
    font-size: 5.8rem;
    color: #F45380;
    line-height: 68px;
    font-family: 'DM Serif Display', serif;
}

.donut__gift__box__section__two__list{
    margin-top: 48px;
    margin-bottom: 48px;
    align-items: baseline;
}

.donut__gift__box__section__two__list__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
    position: relative;
}

.donut__gift__box__section__two__list__item h2{
    font-size: 2.4rem;
    color: #51A8BF;
    font-family: 'DM Serif Display', serif;
}

.donut__gift__box__section__two__list__item__img {
    width: 300px;
}

.donut__gift__box__section__two__list__item__circle{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #51A8BF;
    position: absolute;
    right: 50px;
    top: 0px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut__gift__box__section__two__list__item__circle p{
    color: #FFF;
    font-size: 1.8rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/******************/
/****CONTACT******/
/******************/

.contact__section__one{
    background: url(../assets/yellow-shape.svg) no-repeat right bottom; 
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    display: flex;
    align-items: center; 
    min-height: 100vh;
}

.contact__section__one .container{
    padding-top: 100px;
}

.contact__section__one__container{
    width: 40%;
}

.contact__section__one h1{
    font-size: 72px;
    margin-bottom: 30px;
    color: #51A8BF;
    font-family: 'DM Serif Display', serif;
}

.contact__section__one__img {
    position: absolute;
    right: 0;
    top: 30%;
    width: 40%;
}

.form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.form__colum{
    display: flex;
    flex-direction: column;
}

.form .form__colum:nth-child(5) {
  grid-column: span 2; 
}

.form label{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 8px;
}

.form input[type="text"], .form input[type="email"], .form textarea{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 8px;
    border: 1px solid #4C2519;
    padding: 8px;
}

.contact__section__two article{
    width: 100%;
    margin-bottom: 100px;
}

.contact__section__two iframe {
    width: 100%;
    border-radius: 50px;
}

.contact__section__two h2{
    font-size: 4rem;
    margin-bottom: 30px;
    color: #F45380;
    font-family: 'DM Serif Display', serif;
}