//ABOUT SECTION ONE
.about__us__section__one {
    @include background-image("../assets/light-blue-shape-our-flavors.svg", top, center, cover);
    min-height: 100vh;

    h2{
        font-size: 6.2rem;
        color: $white;
        font-family: $secundary-font;
        display: flex;
        align-items: end;
        gap: 20px;
        @media (max-width: map.get($screens, "medium")) {
            font-size: 4.5rem;
            justify-content: center;
        }
        @media (max-width: map.get($screens, "small")) {
            font-size: 3.5rem;
        }
    }

    p{
        color: $white;
        margin: 0;
    }

    img{
        margin: auto;
    }
}


//ABOUT SECTION TWO

.about__us__section__two{
    margin-top: 40px;
    margin-bottom: 80px;
    @media (max-width: map.get($screens, "small")) {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 6.8rem;
        color: $pink-500;
        font-family: $secundary-font;
        @media (max-width: map.get($screens, "medium")) {
            font-size: 5rem;
        }
        @media (max-width: map.get($screens, "small")) {
            font-size: 3.5rem;
        }
    }

    p {
        font-size: 1.3rem;
        line-height: 2.5rem;
        margin-bottom: 20px;
    }

    &__highlight{
        background-color: rgb(253, 201, 209);
        padding: 0 6px;
    }

    img {
        width: 450px;
    }
}


@media (max-width: map.get($screens, "medium")) {
    .about__us__section__one img, .about__us__section__two img {
        width: 100%;
        max-width: 420px;
    }
}

@media (max-width: map.get($screens, "small")) {
    .about__us__section__one img, .about__us__section__two img {
        max-width: 320px;
    }
}