//ABOUT SECTION ONE
.about__us__section__one {
    background: url(../assets/light-blue-shape-our-flavors.svg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 80vh;
    @media (max-width: $screen-medium) {
        min-height: 80vh;
    }
    @media (max-width: $screen-small) {
        min-height: 100vh;
    }

    h2{
        font-size: 5.8rem;
        color: $white;
        font-family: $secundary-font;
        display: flex;
        align-items: end;
        gap: 20px;
        @media (max-width: $screen-medium) {
            font-size: 4.5rem;
            justify-content: center;
        }
        @media (max-width: $screen-small) {
            font-size: 3.5rem;
        }
    }

    p{
        color: $white;
        margin: 0;
    }

    img{
        width: 100%;
        margin: auto;
    }
}


//ABOUT SECTION TWO

.about__us__section__two{
    margin-top: 40px;
    margin-bottom: 80px;
    @media (max-width: $screen-small) {
        margin-bottom: 40px;
    }

    h1 {
        font-size: 6.8rem;
        color: $pink-500;
        font-family: $secundary-font;
        @media (max-width: $screen-medium) {
            font-size: 5rem;
        }
        @media (max-width: $screen-small) {
            font-size: 3.5rem;
        }
    }

    p {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    img {
        width: 80%;
    }
}


@media (max-width: $screen-medium) {
    .about__us__section__one img, .about__us__section__two img {
        width: 100%;
        max-width: 420px;
    }
}

@media (max-width: $screen-small) {
    .about__us__section__one img, .about__us__section__two img {
        max-width: 320px;
    }
}