//CONTACT SECTION ONE 
.contact__section__one{
    @include background-image("../assets/yellow-shape.svg", right, center, 50%);
    min-height: 100vh;
    @media (min-width: map.get($screens, "extra-large")) {
        @include background-image("../assets/yellow-shape.svg", 95%, center, 50%);
    }
    .container-lg{
        padding-top: 100px;
    }

    h1{
        font-size: 5rem;
        margin-bottom: 30px;
        color: $light-blue-500;
        font-family: $secundary-font;
        @media (max-width: map.get($screens, "large")) {
            font-size: 4.4rem;
        }
    }

    small{
        margin-top: 20px;
    }

    .contact__section__one__img {
        position: absolute;
        right: 0;
        top: 30%;
        width: 40%;
        padding: 0;
    }

}


//CONTACT SECTION TWO

.contact__section__two {
    @media (max-width: map.get($screens, "medium")) {
        margin-top: 80px;
    }

    iframe {
        width: 100%;
        border-radius: 50px;
        margin-bottom: 120px;
        @media (max-width: map.get($screens, "medium")) {
            margin-bottom: 20px;
        }
    }

    h2{
        font-size: 4rem;
        margin-bottom: 30px;
        color: $pink-500;
        font-family: $secundary-font;
        @media (max-width: map.get($screens, "medium")) {
            h2{
                font-size: 3.2rem;
            }
        }
    }
}


.contact__section__one__mobile {
    .container-fluid{
        @include background-image("../assets/light-yellow-shape-mobile.svg", center, bottom, cover);
        min-height: 100vh;
    }

    h1{
        font-size: 3.5rem;
        font-family: $secundary-font;
        color: $white;
    }
}
