//DONUT GIFT BOX SECTION ONE
.donut__gift__box__section__one {
    background: url(../assets/yellow-shape.svg) no-repeat right center; 
    -webkit-background-size: 50%;
    -moz-background-size: 50%;
    -o-background-size: 50%;
    background-size: 50%;
    @media (max-width: $screen-medium) {
        -webkit-background-size: 60%;
        -moz-background-size: 60%;
        -o-background-size: 60%;
        background-size: 60%;
    }
    @media (max-width: $screen-small) {
        background: url(../assets/light-yellow-shape-mobile.svg) no-repeat center bottom; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    h1 {
        font-size: 5.8rem;
        color: $pink-500;
        line-height: 68px;
        font-family: $secundary-font;
        @media (max-width: $screen-medium) {
            font-size: 5.4rem;
        }
        @media (max-width: $screen-small) {
            font-size: 3.5rem;
            line-height: 3.5rem;
            color: $white;
        }
    }

    img{
        width: 80%; 
        @media (max-width: $screen-medium) {
            width: 100%; 
            max-width: 420px;
        }
        @media (max-width: $screen-small) {
            max-width: 320px;
        }
    }

    .button--light-blue{
        margin-top: 40px;
        display:inline-block;
    }
}


//DONUT GIFT BOX SECTION TWO

.donut__gift__box__section__two{
    @media (max-width: $screen-small) {
        padding-top: 70px;
    }

    .donut__gift__box__section__two__list{
        margin-top: 48px;
        margin-bottom: 48px;
        align-items: baseline;
        @media (max-width: $screen-small) {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .donut__gift__box__section__two__list__item__img {
            width: 100%;
            max-width: 300px;
            @media (max-width: $screen-small) {
                width: 100%;
                max-width: 250px;   
            }   
        }
        
        .donut__gift__box__section__two__list__item__circle{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: $light-blue-500;
            position: absolute;
            right: 50px;
            top: 0px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: $white;
                font-size: 1.8rem;
                font-weight: 600;
            }

        }
    }

    .donut__gift__box__section__two__list__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        position: relative;

        h2{
            font-size: 2.4rem;
            color: $light-blue-500;
            font-family: $secundary-font;
        }

    }
}