//DONUT GIFT BOX SECTION ONE
.donut__gift__box__section__one {
    @include background-image("../assets/yellow-shape.svg", right, center, 50%);

    @media (min-width: map.get($screens, "extra-large")) {
        @include background-image("../assets/yellow-shape.svg", 95%, center, 50%);
    }

    @media (max-width: map.get($screens, "medium")) {
        @include background-image-size(60%);
    }
    @media (max-width: map.get($screens, "small")) {
        @include background-image("../assets/light-yellow-shape-mobile.svg", center, center, cover);
    }

    h1 {
        font-size: 5.8rem;
        color: $pink-500;
        line-height: 68px;
        font-family: $secundary-font;
        @media (max-width: map.get($screens, "medium")) {
            font-size: 5.4rem;
        }
        @media (max-width: map.get($screens, "small")) {
            font-size: 3.5rem;
            line-height: 3.5rem;
            color: $white;
        }
    }

    img{
        @media (min-width: map.get($screens, "extra-large")) {
            margin-right: -80px;
        }
    }

    .button--light-blue{
        margin-top: 40px;
        display:inline-block;
    }
}


//DONUT GIFT BOX SECTION TWO

.donut__gift__box__section__two{
    @media (max-width: map.get($screens, "medium")) {
        padding-top: 70px;
    }

    .donut__gift__box__section__two__list{
        margin-top: 48px;
        margin-bottom: 48px;
        align-items: baseline;
        @media (max-width: map.get($screens, "medium")) {
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .donut__gift__box__section__two__list__item__img {
            width: 100%;
            max-width: 300px;
            @media (max-width: map.get($screens, "medium")) {
                width: 100%;
                max-width: 250px;   
            }   
        }
        
        .donut__gift__box__section__two__list__item__circle{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: $light-blue-500;
            position: absolute;
            right: 50px;
            top: 0px;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                color: $white;
                font-size: 1.8rem;
                font-weight: 600;
            }

        }
    }

    .donut__gift__box__section__two__list__item{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 60px;
        position: relative;

        h2{
            font-size: 2.4rem;
            color: $light-blue-500;
            font-family: $secundary-font;
        }

    }
}