*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: $black-900;
    font-family: $primary-font;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
    font-size: 12px;
    overflow-x: hidden;
}


a {
    text-decoration: none;
}

p {
    margin-bottom: 0;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}