/*FONTS*/
$primary-font: 'Open Sans', sans-serif;
$secundary-font: 'Archivo Black', sans-serif;


/*COLORS*/
$white: #FFF;
$light-blue-500: #51A8BF;
$light-blue-700: #458da1;
$pink-500: #F45380;
$pink-700: #c83e65;
$yellow-500: #EAC218;
$yellow-700: #c7a716;
$brown-700: #4C2519;
$black-900: #181818;

/*SCREEN*/
$screen-extra-large : 1920px;
$screen-large : 1200px;
$screen-medium: 992px;
$screen-small: 768px;
$screen-extra-small: 480px;


$screens: (
    extra-large: $screen-extra-large,
    large: $screen-large,
    medium: $screen-medium,
    small: $screen-small,
    extra-small: $screen-extra-small
)