/*FONTS*/
$primary-font: 'Open Sans', sans-serif;
$secundary-font: 'Archivo Black', sans-serif;


/*COLORS*/
$white: #FFF;
$light-blue-500: #51A8BF;
$light-blue-700: #51A8BF;
$pink-500: #F45380;
$pink-700: #da4872;
$yellow-500: #EAC218;
$yellow-700: #deb916;
$brown-700: #4C2519;


/*SCREEN*/
$screen-large : 1200px;
$screen-medium: 992px;
$screen-small: 768px;
$screen-extra-small: 480px;